<a href="https://colab.research.google.com/github/EdsonMSouza/ANDROID-SQLite-CRUD/blob/master/aula_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Aula 02 - Conceitos Básicos de Python</h1>

<p>Nesta aula veremos os conceitos iniciais, mas de grande importância para o desenvolvimento dos próximos passos.</p>

<p>Conteúdo</p>
<ul>
  <li>Comando de saída de dados em tela: print()</li>
  <li>Declaração e utilização de Variáveis</li>
  <li>Operadores Aritméticos, Relacionais e Lógicos</li>
  <li>Exercícios de fixação</li>
</ul>

<h3>Comando de <strong>saída</strong> de dados em tela: <strong>print()</strong></h3>

In [0]:
# Isto é um comentário. Perceba que a linha está sendo iniciado com o 
# sinal "#" - jogo da velha, cerquilha ou "Sharp" em inglês
# Para realizarmos uma saída de dados, ou seja, mostrar algo como resultado na 
# tela, usamos a função print(), conforme os exemplos a seguir:

In [0]:
# Exmplo 1
# A função print() recebe como parâmetro o valor a ser exibido na tela.
# Quando o valor for um "texto", deverá estar entre aspas simples ou dupla
print("Disciplina - Ciência de Dados") # aqui sendo usada aspas duplas

In [0]:
# Exemplo 2
print('Disciplina - Ciência de Dados') # neste exemplo com aspas simples

In [0]:
# Exemplo 3
# A função print() também aceita concatenações utilizando o sinal de 
# soma "+", permitindo a junção de valores
print("Disciplina - " + "Ciência de Dados")

In [0]:
# Exemplo 4
# Também é possível realizar a concatenação por meio de parâmetros da função print().
print("Disciplina", "-", "Ciência de Dados")

In [0]:
# Exemplo 5
# Assim como podemos concatenar textos por meio dos parâmetros, 
# também é possível usarmos números.
print("Hoje é dia", 25, "de março de", 2020)

In [0]:
# Existem diversas outras possibilidades que podem ser exploradas com a 
# utilização do print() que veremos mais adiante durante as aulas.

<h3>Variáveis</strong></h3>

In [0]:
# Na programação o uso de variáveis é indispensável, pois são nelas que guardamos valores para poderem ser manipulados
# Em Python não há a necessidade especificar que tipo uma variável deve ser, pois a própria linguagem reconhece o tipo de acordo com o valor atribuído.
# Python é Case Sensitive, ou seja, diferencia letras maiúsculas de minúsculas
# Para definirmos o nome de variáveis, temos que iniciar utilizando um caractere que esteja no 
# intervalo de a à z ou A à Z. A única exceção a esta regra é o caractere underscore "_"
# Podemos utilizar números, desde que seja o segundo caractere da sequência.
# Também é desejável e prudente que os nomes tenham relação com o seu significado.
#
# Vejamos alguns exemplos:

In [0]:
x = 10          # inteiro
y = 10.2        # float
nome = "Edson"  # string

In [0]:
# Para mostrarmos o valor de variáveis, utilizamos a função print(), 
# como visto anteriormente nos exemplos.
print(x)
print(y)
print(nome)

In [0]:
# Também podemos incrementar a saída usando o caracter especial "%".
# Ele permite que seja feita uma formatação nos números.
print("O valor da variável 'y' é: %.10f" %y)

In [0]:
# Em algumas situações é necessária a concatenação de números com texto, 
# o que causará um erro. Neste caso podemos usar a função str() que converte 
# um número em texto.
# Vejamos o exemplo, que causará um erro inicialmente:

var_numerica = 25
var_string = "Hoje é dia "

print(var_string + var_numerica)

In [0]:
# O erro ocorreu devido a junção de um número com texto.
# O correto é fazermos a conversão da seguinte forma usando a função str():
print(var_string + str(var_numerica))

In [0]:
# E se precisarmos realizar uma concatenação onde um número estará "no meio" do texto?
var_nome = "Edson Melo tem"
var_idade = 49
var_complemento = "anos"

In [0]:
# Primeira forma
print(var_nome, var_idade, var_complemento)

In [0]:
# Segunda forma: mais sofisticada
contenacao_formatada = '{0} {1} {2}'
print(contenacao_formatada.format(var_nome, var_idade, var_complemento))

<h3>Operadores Aritméticos, Relacionais e Lógicos</h3>

<h4>Operadores Aritméticos</h4>

| Operação      | Operador |
|---------------|:--------:|
| Adição        |     +    |
| Subtração     |     -    |
| Multiplicação |     *    |
| Divisão       |     /    |
| Exponenciação |    **    |
| Parte Inteira |    //    |
| Módulo        |     %    |

In [0]:
# Exemplos com variáveis
a = 10
b = 2
c = 3

In [0]:
# Adição
print(a + b)

In [0]:
# Subtração
print(a - b)

In [0]:
# Multiplicação
print(a * b)

In [0]:
# Divisão
print(a / b)

In [0]:
# Exponenciação
print(a ** b)

In [0]:
# Parte inteira
print( a // c) # Somente a parte inteira de "a" dividido por "b"

In [0]:
# Se fosse a divisão normal, o resultado seria
print(a / b)

In [0]:
# Módulo ou resto da divisão. É a parte que sobra de uma divisão, o resto.
# Esse operador é muito utilizado para descobrir quando um número é par ou ímpar.
print(a % b) # 10/2 -> restou zero

In [0]:
# Outro exemplo
print(3 % 2) # restou 1

<h4>Operadores Relacionais</h4>

| Descrição        | Operador |
|------------------|:--------:|
| Maior que        |     >    |
| Menor que        |     <    |
| Igual a          |    ==    |
| Maior ou igual a |    >=    |
| Menor ou igual a |    <=    |
| Diferente        |    !=    |

In [0]:
# Exemplos com variáveis
a = 10
b = 35
c = 12

In [0]:
# Podemos também mostrar um saída sem o uso do print(). Vejamos:
a < b # 10 < 35 -> resulta em True (Verdadeiro)

In [0]:
a > c # resulta em False (Falso)

In [0]:
# Os operadores relacionais são muito utilizados quando temos que tomar decisões.
# Veremos isso na próxima aula

<h4>Operadores Lógicos</h4>

In [0]:
# Esses operadores permitem unir 2 expressões ligando-as com os 
# conectivos lógicos matemáticos que são, o conectivo E e o conectivo OU.
# Vejamos exemplos

In [0]:
x = 1
(x > 0) and (x < 100)

In [0]:
x = 1
(x > 0) or (x < 100)

In [0]:
x = 1
(x > 0) and (x < 10)

In [0]:
x = 0
(x > 0) or (x < 10)

In [0]:
x = 0
(x > 0) and (x < 10)

<h3>Tabela Verdade</h3>

|   A   |   B   | A and B | A or B |
|:-----:|:-----:|:-------:|:------:|
|  True |  True |   True  |  True  |
|  True | False |  False  |  True  |
| False |  True |  False  |  True  |
| False | False |  False  |  False |

<h1>Exercícios</h1>



1.   Implemente um programa que escreve na tela a frase "Meu primeiro programa em Python!!!".
2.   Você foi contratado por uma escola pra fazer o sistema de boletim dos alunos. Como primeiro passo, escreva um programa que produza a seguinte saída (Não é necessário manter o alinhamento):

| Aluno(a)        	|  Nota 	|
|-----------------	|------:	|
| Ana Maria       	|  9.00 	|
| José Carlos     	|  7.20 	|
| Júlio Martins   	|  8.00 	|
| Ubiratan Santos 	| 10.00 	|

3. Utilizando <strong>variáveis</strong>, faça um programa para realizar o seguinte cálculo:
10 + 20 - 30 + (45 * 3) / 8 ** 2

In [0]:
# Respostas

# 1.
print("Meu primeiro programa em Python!!!")

# 2.
print("Aluno", "Nota")
print("Ana Maria %.2f" %9.0)
print("José Carlos %.2f" %7.2)
print("Júlio Martins %.2f" %8.0)
print("Ubiratan Santos %.2f" %10.0)

In [0]:
print(f"Ana Maria \t{9.0:>5,.02f}")
print(f"José Carlos \t{7.2:>5,.02f}")
print(f"Júlio Martins \t{8:>5,.02f}")
print(f"Ubiratan Santos {10.0:>5,.02f}")

In [0]:
# 3.
v1 = 10
v2 = 20
v3 = 30
v4 = 45
v5 = 3
v6 = 8
v7 = 2
# 10 + 20 - 30 + (45 * 3) / 8 ** 2

print( v1 + v2 - v3 + (v4 * v5) / v6 ** v7 )